@model IEnumerable<DuyND_SE1815_Data.Entities.NewsArticle>
@using Microsoft.AspNetCore.Http
@{
	ViewData["Title"] = "Search New";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>New</h1>

<form method="get" asp-action="SearchNews">
	<input type="text" name="key" placeholder="Nhập từ khóa tìm kiếm..." class="form-control" />
	<button type="submit" class="btn btn-primary mt-2">Tìm kiếm</button>
</form>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.NewsTitle)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Headline)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NewsContent)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Category)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreatedBy)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.NewsTitle)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Headline)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NewsContent)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Category.CategoryName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedBy.AccountName)
				</td>

			</tr>
		}
	</tbody>
</table>